@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;600;700&display=swap");

/* This index.css sets some basic styling for the site. Import font of choice from google*/
/* Note: Most styling is done via the sx prop within components */
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Chivo", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

/* The following stylizes the scroll-bar for application */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}
